

.title {
    font-size: 3rem;
    margin: 4rem 0;
    color: var(--cyan-500);

}

.item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 100%;
    color: #fff;
    margin: 1rem;
    font-size: 4em
  
  }
