.mainContainer {
    padding: 1rem;
    h1 {
        font-size: 3rem;
        color: var(--cyan-500);
    }

    .jobContainer {
        margin-top: 4rem;
        display: flex;
        justify-content: center;
        max-width:600px;
        padding: 1rem;
        border: 1px solid #fff ;
        border-radius: 0.25rem;
        background-color: var(--gray-850);

        img {
            width: 120px;
            height:120px;
            border-radius: 0.25rem;
        }

        div {
            margin-left: 1.25rem;

            h2 {
                margin-bottom: 0.25rem;
            }
    
            p {
                margin-bottom: 0.75rem;
                font-weight: bold;
            }

        }


    }
}